<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
      include ../static/style.css
</head>
<body>
    <nav>
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Service</a></li>
        <li><a href="/">Contact Us</a></li>
    </ul>
    </nav>
    <div class="container">

    
    <h1>Get Membership</h1>
    <!-- <p>
       | #{content}   very important if tags r not immediately adjacent to  
    </p> -->

    <form action="/" method="post" contact">
        <input type="text" name="name" id="name" placeholder="Enter name">
        <input type="text" name="age" id="age" placeholder="Enter age">
        <input type="text" name="gender" id="gender" placeholder="Enter gender">

        <textarea name="address" id="address" cols="30" rows="10" placeholder="Your address"></textarea>
        <textarea name="more" id="more" cols="30" rows="10" placeholder="TELL us  more"></textarea>

        <button class="btn">Submit</button>
    </form>
</div>
</body>
</html>